:root {
    --tp-theme-color: #0057FC;
    --tp-theme-color-2:#FFE815;
    --tp-heading-color:#0A0E1A;
    --tp-body-color:#57595C;
    --tp-rom-bg:#FBF6EF;
    --tp-common-bg:#0A0E1A;
    --tp-nbule-bg:#001C52;
    --tp-black: black;
    --tp-white: white;
    ;
  }