@use'../../utils' as *;

.transparent-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.tp-main-menu{
    & ul{
        & li{
            display: inline-block;
            margin-right: 20px;
            position: relative;
            & a{
                color: #fff;
                font-family: ver(--tp-font-heading);
                font-size: 18px;
                padding: 36px 0px;
                display: inline-block; 
            }
            & .submenu {
                position: absolute;
                top: 105%;
                left: 0;
                width: 200px;
                background-color: #fff;
                padding: 15px 0px;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                & li{
                    display: block;
                    margin-right: 0;
                    & a{
                        color: #000;
                        display: block;
                        padding: 5px 20px;
                        font-size: 16px;
                    }
                    & .submenu{
                        left: 100%;
                        top: 100%;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;
                    }
                    &:hover{
                        & > a{
                            color: var(--tp-theme-color);
                        }
                        & > .submenu{
                            opacity: 1;
                            visibility: visible;
                            top:0;
                        }
                    }
                }
            }
        }
        &:hover{
            & a{
                color: var(--tp-theme-color-2);
            }
            & .submenu {
                opacity: 1;
                visibility: visible;
                top: 105%;
            }

        }
    }
}

.tp-header{
    &-border{
        border-bottom:  1px solid rgba(255, 255, 255,.15);
    }
    &-menu-bar{
        & button{
            background-color: #23252D;
            padding: 36px 25px;
        }
    }
    &-cta{
            display: flex;
            align-items: center;
            padding: 27px 30px;
            border-left: 1px solid rgba(255, 255, 255,.15);
    }
    &-search-icon{
        margin-right: 30px;
    }
    &-call-icon{
        margin-right: 15px; 
    }
    &-text{
        span{
            color: #B1B4BA;
            font-size: 15px;
            display: block;
            margin-bottom: 10px;
            line-height: 1;  
        }
        h4{
            color: #fff;
            font-size: 18px;
            margin: 0;
        }

    }
}
